/*restart defaults for page*/
*{
    margin: 0;
    padding: 0; /*space between the element and the border. */
    box-sizing: border-box; /*This causes the element to maintain its actual width*/
    @font-face {
        font-family: "Fette";
        src: url("fonts/FetteUNZFraktur.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
    font-family: 'Fette', Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex; 
    flex-wrap: wrap; /*forced to be on the same line or can be wrapped across multiple lines.*/
    max-width: 1100px;
    margin: 0 auto; /*center the element within its container.*/
    padding: 0 2%;
}

header{
    padding: 25px 0;
    background-color: #230303
}

.container{
    width: 100%;
    background-image: url(/imagens/background.png);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.menu{
    padding-top: 15px;
    width: 100%;
    text-align: center;
}

.menu a{
    letter-spacing: 1.5px;
    padding: 3px 10px;
    margin-right: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s linear;
}

.menu a:hover,menu:focus{
    background-color: black;
    color: white;
}

.menu a:active{
    background-color: white;
    color: black;
}

.logo{
    width: 100%;
    letter-spacing: 10px;
    color: #F2F2F2;
    text-align: center;
}

.first_image{
    height: 100%;
    width: 100%;
}

.cronologia{
    padding-top: 15px;
    text-align: center;
    color: #F2F2F2;
    letter-spacing: 10px;
}

.section_cronologia{
    padding-top: 10px;
    text-align: center;
    letter-spacing: 100px;
}

.first_image_section{
    height: 250px;
    width: 300px;
    border-radius: 100%;
    border: 5px solid #F2F2F2;
}

.second_image_section{
    height: 250px;
    width: 300px;
    border-radius: 100%;
    border: 5px solid #F2F2F2;
}

.third_image_section{
    height: 250px;
    width: 300px;
    border-radius: 100%;
    border: 5px solid #F2F2F2;
}

.info_desc{
    display: inline-flex;
}

.desc_1{
    padding-top: 20px;
    padding-left: 100px;
    color: #F2F2F2;
    text-align: center;
    width: 400px;
    height: 300px;
    letter-spacing: 3px;
}

.desc_2{
    padding-top: 20px;
    padding-left: 100px;
    color: #F2F2F2;
    text-align: center;
    width: 400px;
    height: 300px;
    letter-spacing: 3px;
    
}

.desc_3{
    padding-top: 20px;
    padding-left: 100px;
    color: #F2F2F2;
    text-align: center;
    width: 400px;
    height: 300px;
    letter-spacing: 3px;  
}



/*Notas: Basicamente padding é o espaço entre o conteúdo e a borda, 
enquanto margin é o espaço fora da borda.*/

