/*restart defaults for page*/
*{
    margin: 0;
    padding: 0; /*space between the element and the border. */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*-----------------------NavBar--------------------------*/

.navbar{
    padding: 50px;
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
}

.nav-item{
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 50px;
    color: white;
}

.nav-link{
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}

.nav-link:hover{
    background-color: rgb(179, 24, 24) ;
    color: gray;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
}

/*-----------------------Main--------------------------*/

#main{
    position: relative;
    background: url(/imagens/background-landing-page.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;
}

#main h2{
    font-size: 2.8em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#main p{
    margin-top: 1em;
    padding: 0;
    font-size: 16px;
    color: white;
    padding-bottom: 25px;
   
}

#main .readMore{
    background: rgb(156, 156, 156);
    color: white;
    border-radius: 5px ;
    padding-left: 10px 20px;
    text-decoration: none;
}

/*-----------------------Read More--------------------------*/

#main-read-more{
    position: relative;
    background: url(/imagens/background-read-more-page.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;
}

#main-read-more h2{
    font-size: 2.8em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#main-read-more h3{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#main-read-more p{
    margin-top: 1em;
    padding: 0;
    font-size: 16px;
    color: white;
    padding-bottom: 25px;

}

#main-read-more .p-shadow{
    color: gray;
}

/*-----------------------Character--------------------------*/

#main-character{
    position: relative;
    background: url(/imagens/background-character-page.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 0px 0 220px;
}